:root {
  --container-padding: 20px;
  --container-width: calc(100% - var(--container-padding) * 2);
  --container-max-width: 1100px;
}

.app-container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

// Base on min-width (mobile first)
@screen sm {
  :root {
    --container-padding: 50px;
  }
}
